<!-- <div class="top-conter">
  <app-asupbar [barTitle] =" '个性化推荐' "></app-asupbar>

  <div class="dataList">
    <ul>
      <li>
        <div class="oneSugget">
          <a href="" class="oneSuggetTop">
            <span class="week">
              {{date | date:"EEEE"}}
            </span>
            <span class="day">
              {{date.getDate()}}
            </span>
          </a>

          <p class="decs">
            <a href="">每日歌曲推荐</a>
          </p>
          <p class="decsTitle">根据你的口味生成,每天6:00更新</p>
        </div>
      </li>

      <li *ngFor="let item of dataList1">

        <div class="cover">
          <img [src]=" item.imgUrl" />
          <a [href]="'item.aLinkUrl'" [title]=" 'item.desc' " class="cover-link"> </a>
          <div class="cover-bot">
            <span class="sup"></span>
            <span class="count">{{item.listenCount}}</span>
            <a href="#" class="play"></a>
          </div>
        </div>
        <p>
          <a [href]="'item.aLinkUrl'">
            {{item.desc}}
          </a>
        </p>
      </li>
    </ul>
  </div>

</div> -->