<!-- <div class="carouse">
  <div class="carouseTitle">
  <div class="container">
    <nz-carousel nzAutoPlay>
      <div nz-carousel-content>
        <img src="../../assets/imgs/home/1.jpg" alt="">
      </div>
      <div nz-carousel-content>
        <img src="../../assets/imgs/home/2.jpg" alt="">
      </div>
      <div nz-carousel-content>
        <img src="../../assets/imgs/home/3.jpg" alt="">
      </div>
      <div nz-carousel-content>
        <img src="../../assets/imgs/home/4.jpg" alt="">
      </div>
      <div nz-carousel-content>
        <img src="../../assets/imgs/home/5.jpg" alt="">
      </div>
    </nz-carousel>

    <div class="containerSider">
    </div>
  </div>
  </div>
</div> -->