


<audio  [src]='songUrl?.replace("http","https")' #myaudio autoplay [volume]="proVolume" (durationchange)="myDurationchange($event)" (canplay)="canplay1($event)" (timeupdate)="timeupdate1($event)" (ended)="endedChange()">
</audio>


<div class="bottomplaycontiner">

  <div class="playGroup clear">

    <div class="playBtns">
      <a class="preBtn" title="上一首" (click)="play('-')"></a>

      <a class="playOrPauseBtn" title="播/停" (click)="playOrPause()" [ngClass]='{"playBtnPause":!isCanPlaying ,"playBtnplay":isCanPlaying }'></a>
      <a class="nextBtn" title="下一首" (click)="play('+')"></a>
    </div>

    <div class="nikeImg">
      <img [src]=' musicInfo?.pictureUl+"?param=34y34" ' />
      <a href="#"></a>
    </div>

    <div class="singInfo">

      <div class="singInfoname">
        <a *ngIf="musicInfo?.songId" [routerLink]="['homes/find/songinfo/detail',musicInfo?.songId]" class="name">{{musicInfo?.song}}</a>
        <a href="#" class="playsinger">{{musicInfo?.singer}}</a>
        <a href="#" class="songlistlink" title="来自歌单"></a>
      </div>

      <div class="proAndtime">
        <app-proMusic (valueSrcProLineChange)="proMusicChange($event)" [valueSrcProLine]="scalMProLine" (isDragEvent)="isdragFunc($event)"></app-proMusic>

        <div class="timeTitle">
          <span class="myPlayerTime" [innerHTML]="innerText1">
            00:00
          </span>
          <span>
            /
          </span>
          <span class="myPlayerTime" [innerHTML]="innerText2">
            00:00
          </span>
        </div>
      </div>

    </div>

    <div class="playsup">
      <a href="#" class="supadd"></a>
      <a href="#" class="supshare"> </a>
      <span class="volLine">
        <a href="#" class="supvolum"></a>
        <app-proVol (valueSrcProLineChange)="proVolumeChange($event)" [valueSrcProLine]="scalVProLine"></app-proVol>
      </span>
      <a href="#" class="supplayloop"> </a>
      <a href="#" class="suppplaylist">
        <span class="numTxt">{{ searchMusic.length || 0 }}</span>
      </a>
    </div>

  </div>
</div>