.progress {
    height: 8px;
    width: 493px;
}

.progressContainer { 
    width: 493px;
    height: 8px;
    background-color: #191919;
    border-radius: 4px;
    position: relative;
}

.progressContainer:hover {
    cursor: pointer;
}

.progressLine {
    width: 0px;
    height: 8px;
    background-color: #ff0000;
    border-radius: 4px;
}

.targetBtn {
    width: 18px;
    height: 18px;
    background: url(https://s2.music.126.net/style/web2/img/iconall.png?0ccf324ce9b9f2e425b60de686f84e55);
    background-position: -2px -252px;
    position: absolute;
    top: -5px;
    left: -9px;
}

.targetBtn:hover {
    background-position: -2px -282px;
}