.bg {
    background-color: #F5F5F5;
}

.boardTotal{
    width: 984px;  
    border-left: 1px solid #ccc;
    margin: 0 auto;
}
.boardleft,.boardright {
    float: left;
}

.boardright {
    width: 742px;
    border: 1px solid #ccc;
    background-color: #FFFFFF;
}