<div class="user">
  <div>
    <div class="user-tou">
      <img src="http://p1.music.126.net/VnZiScyynLG7atLIZ2YPkw==/18686200114669622.jpg?param=80y80" />
    </div>
    <div class="user-des">
      <h4 class="user-name"><a href="">键盘你怎么烂了</a></h4>

      <p>
        <a href="#" class="user-lv">6<i class="user-lv-sup"></i></a>
      </p>

      <a href="#" class="user-a">签到</a>
    </div>

  </div>

  <div class="staus">
    <a href="#" class="staus-1">

      <strong>2</strong>
      <span id="">
        动态
    </span>

    </a>

    <a href="#" class="staus-1">

      <strong>2</strong>
      <span id="">
        关注
      </span>

    </a>
    <a href="#" class="staus-1">

      <strong>2</strong>
      <span id="">
        粉丝
      </span>

    </a>
  </div>

</div>
